<script type="text/javascript" src="/static/section/dashboard.js"></script>

<script type="text/template" id="dashboard-balance-row-template">
	<tr>
		<th><a rel="wallet/household" class="name"></a></th>
		<td class="currency btc"><span class="symbol">&#0579;</span> <span class="amount">820.54</span></td>
	</tr>
</script>
<!-- &#0579; BTC -->

<script type="text/template" id="dashboard-transaction-template">
	<tr>
		<th>
			<a rel="transaction/156" class="action">i<span>Get Details</span></a>
			<a rel="address/Eyal-Shavit" class="account">Account</a>
			<small>[Label]</small>
		</th>
		<td class="icon-16"><span></span></td>
		<td class="currency btc"><span class="amount">820.54</span><span class="symbol">&#0579;</span></td>
		<td class="time">June 18th 2010</td>
	</tr>
</script>

<script type="text/template" id="dashboard-template">
	<div class="row">
		<div class="balance box grid_4">
			<article>
				<a rel="balance" class="action"></a>
				<h1>Balance</h1>
				<table class="full">
					<tbody class="balance_rows">
						
					</tbody>
				</table>
			</article>
		</div>
		
		
		
		<div class="transactions box grid_8">
			<article class="past">
				<a rel="transactions" class="action"></a>
				<h1>Transactions</h1>
				<table class="full">
					<tbody>
					</tbody>
				</table>
			</article>
			<article class="future">
				<a rel="transactions" class="action"></a>
				<h1>Planned Transactions</h1>
				<table class="full">
					<tbody>
						<tr><td style="font-style: italic; color: #AAA; font-weight: bold; text-align: center">Coming Soon!</td></tr>
					</tbody>
				</table>
			</article>
		</div>
	</div>
</script>
