<script type="text/template" id="account-select-row-template">
	<option value="account-name">
		<span class="name">Account Name</span> 
		(<span class="amount">888</span> 
		<span class="symbol btc">&#0579;</span>)
	</option>
</script>

<script type="text/template" id="funds-template" class="sidemenu">
	<nav>
		<ul>
			<li class="send"><a rel="send-funds">Send Funds</a></li>
			<li class="receive"><a rel="">Receive Funds</a></li>
			<li class="exchange"><a rel="">Exchange</a></li>
			<li class="contracts"><a rel="">Contracts</a></li>
		</ul>
	</nav>
	
	<div class="container">
	
		<article class="welcome active">
			<h1>Manage Funds</h1>
			<p>In this section you can manage your funds; send them to other people and business, receive money, exchange currencies, and other tasks.</p>
			
			<div class="intro-buttons clearfix">
				<div class="grid_1">&nbsp;</div>
				<div class="grid_4 send-funds">
					<a rel="send-funds" class="section-nav"><span>Send Money</span></a>
					<p>Send money to people you know or businesses you work with with no commision on transactions of any size</p>
				</div>
				<div class="grid_1">&nbsp;</div>
				<div class="grid_4 receive-funds">
					<a rel="receive-funds" class=""><span>Receive Funds</span></a>
					<p>You can request a payment for work you have done or for product you are selling</p>
				</div>
				<div class="grid_1">&nbsp;</div>
			</div>
		</article>
		
		
		
		
		<article class="send-funds">
			<div class="clearfix">
				<div class="grid_5">
					<a rel="balance" class="action"></a>
					<h1>Send Funds</h1>
					<form id="send_funds" method="post" enctype="application/x-www-form-urlencoded">
						<label class="account">
							<span>From: </span>
							<!-- input type="text" name="account" placeholder="Select an Acocunt" /-->
							<input type="text" name="account" data-list="accounts" />
							<span class="details">
								Select an existing account
							</span>
						</label>
						
						<label class="target">
							<span>Target:</span>
							<input type="text" name="target" placeholder="Define Target"/>
						</label>
						
						<label class="amount">
							<span>Amount:</span>
							<input type="text" name="amount" placeholder="Define Amount"/>
						</label>
					</form>
				</div>
				<div class="grid_1">
					&nbsp;
				</div>
				<div class="grid_6 txdetails">
					<a rel="balance" class="action"></a>
					<h2>Transaction Details</h2>

					<p class="info">
						You are about to transfer <ins class="currency btc"><span class="amount">#,##0.00</span> &#0579;</ins>
						from <ins class="from account">Account Name</ins> to <ins class="to btcaddress">tareget address</ins>.
					</p>
					
					<table class="transaction details">
						<tr class="tx_amount">
							<th>Transaction amount:</th>
							<td>&nbsp;</td>
							<td class="currency btc"><span class="amount">#,##0.00</span> &#0579;</td>
						</tr>
						<tr class="tx_fee">
							<th>Transaction Fee:</th>
							<td>&nbsp;</td>
							<td class="currency btc"><span class="amount">#,##0.00</span> &#0579;</td>
						</tr>
						<tr class="account_balance">
							<th>Account balance:</th>
							<td class="currency btc"><span class="amount">#,##0.00</span> &#0579;</td>
							<td class="currency btc after"><span class="amount">#,##0.00</span> &#0579;</td>
						</tr>
						<tr class="wallet_balance">
							<th>Wallet balance:</th>
							<td class="currency btc"><span class="amount">#,##0.00</span> &#0579;</td>
							<td class="currency btc after"><span class="amount">#,##0.00</span> &#0579;</td>
						</tr>
						<!-- Other currencies
						<tr>
							<td colspan="2">&nbsp;</td>
						</tr>
						<tr>
							<td>Wallet balance:</td>
							<td class="currency btc"><span class="amount">#,##0.00</span> &#0579;</td>
							<td class="currency btc after"><span class="amount">#,##0.00</span> &#0579;</td>
						</tr>
						-->
					</table>
				</div>
			</div>
			<div class="clearfix">
				<div class="actions">
					<a class="cancel button">Cancel</a>
					<a class="confirm button yellow key">Confirm Transaction</a>
				</div>
			</div>
		</article>
		
		
		
		
		<article class="receive-funds">
		</article>
	</div>
</script>


<script type="text/template" id="confirm-tx-template">
	<form id="confirm-tx">
		<article>
			<p>Please enter the amount again to confirm transaction:</p>
			<label><input type="text" class="amount" /></label>
		</article>
	</form>
</script>

<script type="text/template" id="tx-processing-dialog-template">
	<article>
		<p>Processing transaction...</p>
	</article>
</script>

<script type="text/template" id="tx-sent-template">
	<article>
		<p>Your transaction has been executed and your coins are on their way.</p>
		<p>The transaction ID: <ins class="tx_id"></ins></p>
		<p>Thank you for using Bitcoin!</p>
	</article>
</script>

<script type="text/template" data-template-name="receive">
<div class="clearfix">
	<div class="grid_5">
		<h1>{{dict.Receive_Funds}}</h1>
		<form>
			<label class="account">
				<span>Select Account: </span>
				<input type="text" name="account" placeholder="Select an Acocunt" />
				<span class="details">
					Select an existing account
				</span>
			</label>
			
			<label class="target">
				<span>Address:</span>
				<input type="text" name="adddress" placeholder="Generated Address"/>
			</label>
		</form>
	</div>
	<div class="grid_1">
		&nbsp;
	</div>
	<div class="grid_6 txdetails">
		<a rel="balance" class="action"></a>
		<h2>Transaction Details</h2>

		<p class="info">
			You are about to transfer <ins class="currency btc"><span class="amount">#,##0.00</span> &#0579;</ins>
			from <ins class="from account">Account Name</ins> to <ins class="to btcaddress">tareget address</ins>.
		</p>
		
		<table class="transaction details">
			<tr class="tx_amount">
				<th>Transaction amount:</th>
				<td>&nbsp;</td>
				<td class="currency btc"><span class="amount">#,##0.00</span> &#0579;</td>
			</tr>
			<tr class="tx_fee">
				<th>Transaction Fee:</th>
				<td>&nbsp;</td>
				<td class="currency btc"><span class="amount">#,##0.00</span> &#0579;</td>
			</tr>
			<tr class="account_balance">
				<th>Account balance:</th>
				<td class="currency btc"><span class="amount">#,##0.00</span> &#0579;</td>
				<td class="currency btc after"><span class="amount">#,##0.00</span> &#0579;</td>
			</tr>
			<tr class="wallet_balance">
				<th>Wallet balance:</th>
				<td class="currency btc"><span class="amount">#,##0.00</span> &#0579;</td>
				<td class="currency btc after"><span class="amount">#,##0.00</span> &#0579;</td>
			</tr>
			<!-- Other currencies
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td>Wallet balance:</td>
				<td class="currency btc"><span class="amount">#,##0.00</span> &#0579;</td>
				<td class="currency btc after"><span class="amount">#,##0.00</span> &#0579;</td>
			</tr>
			-->
		</table>
	</div>
</div>
<div class="clearfix">
	<div class="actions">
		<a class="cancel button">Cancel</a>
		<a class="confirm button yellow key">Confirm Transaction</a>
	</div>
</div>

</script>