<script type="text/template" id="template-template">
	<div class="row">
		<div class="grid_4">
			<div>
				<div class="seven columns alpha headings">
					<h1>Heading &lt;h1&gt;</h1>
					<h2>Heading &lt;h2&gt;</h2>
					<h3>Heading &lt;h3&gt;</h3>
					<h4>Heading &lt;h4&gt;</h4>
					<h5>Heading &lt;h5&gt;</h5>
					<h6>Heading &lt;h6&gt;</h6>
				</div>
				<div class="five columns omega">
					<blockquote>
						<p>This is a blockquote style example. It stands out, but is awesome</p>
						<cite>Dave Gamache, Skeleton Creator</cite>
					</blockquote>
				</div>
			</div>
			<div class="hidden-code">
				<a href="">Code Example</a>
			</div>
		</div>
		<div class="grid_8" id="buttons">
			<h3>Buttons</h3>
			<p>Buttons are intended for action and thus should have appropriate weight. The standard button is given that weight with a little bit of depth and a strong hover.</p>
			<a href="#" class="button">Click Me For Action</a>
			<div class="hidden-code">
				<a href="">Code Example</a>
			</div>
		</div>
	</div>
	<hr />
	<div class="doc-section" id="tabs">
		<h3>Tabs</h3>
		<p>Some very simple tabs that have dead simple jQuery that hook them up to their corresponding content.</p>
		<ul class="tabs">
			<li><a class="active" href="#simple">Simple</a></li>
			<li><a href="#lightweight">Lightweight</a></li>
			<li><a href="#mobileFriendly">Mobile</a></li>
		</ul>
		<ul class="tabs-content">
			<li class="active" id="simpleTab">The tabs are clean and simple unordered-list markup and basic CSS.</li>
			<li id="lightweightTab">The tabs are cross-browser, but don't need a ton of hacky CSS or markup.</li>
			<li id="mobileFriendlyTab">The tabs work like a charm even on mobile devices. If there are too many they will stack (it's not completely awesome, but still retains functionality).</li>
		</ul>
		<div class="hidden-code">
			<a href="">Code Example</a>
		</div>
	</div>
	<hr />
	<div class="doc-section clearfix" id="forms">
		<h3>Forms</h3>
		<p>Forms can be one of the biggest pains for web developers, but just use these dead simple styles and you should be good to go. </p>
		<div class="four columns alpha">
			<form>
				<label for="regularInput">Regular Input</label>
				<input type="text" id="regularInput" />
				<label for="regularTextarea">Regular Textarea</label>
				<textarea id="regularTextarea"></textarea>
				<label for="selectList">Select List</label>
				<select id="selectList">
					<option value="Option 1">Option 1</option>
					<option value="Option 2">Option 2</option>
					<option value="Option 3">Option 3</option>
					<option value="Option 4">Option 4</option>
				</select>
				<fieldset>
					<legend>Checkboxes</legend>
					<label for="regularCheckbox">
						<input type="checkbox" id="regularCheckbox" value="checkbox 1" />
						<span>Regular Checkbox</span>
					</label>
					<label for="secondRegularCheckbox">
						<input type="checkbox" id="secondRegularCheckbox" value="checkbox 2" />
						<span>Regular Checkbox</span>
					</label>
				</fieldset>
				<fieldset>
					<legend>Radio Buttons</legend>
					<label for="regularRadio">
						<input type="radio" name="radios" id="regularRadio" value="radio 1" />
						<span>Regular Radio</span>
					</label>
					<label for="secondRegularRadio">
						<input type="radio" name="radios" id="secondRegularRadio" value="radio 2" />
						<span>Regular Radio</span>
					</label>
				</fieldset>
				<button type="submit">Submit Form</button>
			</form>
		</div>
		<br class="clear" />
		<div class="hidden-code">
			<a href="">Code Example</a>
		</div>
	</div>
</script>