<!DOCTYPE html>
<html>
<head>
	<title>Safebit Bitcoin Wallet</title>
	<link rel="stylesheet" href="/static/css/grid.css" media="screen" >

	<link href="/static/css/reset.css" rel="stylesheet"/>
	<link href="/static/css/lib/jquery.jgrowl.css" rel="stylesheet"/>
	<link href="/static/css/main.css" rel="stylesheet"/>
	<script type="text/javascript" src="/static/js/head.min.js"></script>
	<script type="text/javascript" src="/static/js/init.js"></script>
	<link rel="icon" href="/static/images/icon-16.png" sizes="16x16" />
	<link rel="icon" href="/static/images/icon-32.png" sizes="32x32" />
	<link rel="icon" href="/static/images/icon-48.png" sizes="48x48" />
	<link rel="shortcut icon" href="/static/icon/32.png"/>

</head>
<body>
<div id="main">
	<header>

		<section id="info">
			<div id="icon"></div>
			<h1 id="wallet-name">Your Bitcoin Wallet</h1>
			<p id="wallet-size">
				<span class="btc"><span class="amount"></span> &#0579;</span>
				<span class="othercur"><span class="amount"></span> <span class="symbol"></span></span>
				<!--
				<span class="usd"><span>4,451</span> $$</span>
				<span class="nis"><span>16,733</span> &#8362;</span>
				-->
			</p>
			<!--
			<div id="wallet-file">
				Wallet: <span>I:\my-wallet.dat</span>
			</div>
			-->
		</section>
		<section id="control">
			<a id="safecontrol"><span>Safe Control</span></a>
			<a id="exit"><span>Exit</span></a>
		</section>
		<section id="status">
			<p class="rpc" href="test"><span>JSON-RPC Status</span></p>
			<!--<p class="cloud"><span>Cloud Status</span></p>
			<p class="bitcoin"><span>Bitcoin Status</span></p>-->
		</section>
		<nav id="main-nav">
			<ul>
			<!-- Settings an "active" class on an <li> tag
			will override the default active section.
			this is mainly for development purposes.
			-->
				<li class="dashboard "><a rel="dashboard"><span>Dashboard</span></a></li>
				<li class="funds "><a rel="funds"><span>Manage Funds</span></a></li>
				<li class="accounts"><a rel="accounts"><span>Accounts</span></a></li>
				<li class="log"><a><span>Transactions</span></a></li>
				<li class="settings "><a rel="settings"><span>Settings</span></a></li>
				<!--<li class="template"><a rel="template"><span>Template</span></a></li>-->
                <li class="donate "><a rel="donate"><span>Support Safebit!</span></a></li>
			</ul>
		</nav>
	</header>
	<div id="content" class="container_12">
	</div>
</div>
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "safebit";
  feedback_widget_options.placement = "bottom";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24569435-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>